FX Controller Networking/MQTT and Node Red/NodeRED Example.json
[{"id":"14591b1b.3ae615","type":"mqtt out","z":"edb82e33.256f1","name":"To MQTT","topic":"/myChannel/myProp","qos":"","retain":"","broker":"616902e0.559a7c","x":560,"y":140,"wires":[]},{"id":"557345fa.5c5bdc","type":"inject","z":"edb82e33.256f1","name":"OUTPUT 0 ON","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"OUTPUT\",\"INDEX\":0,\"VALUE\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"x":100,"y":80,"wires":[[]]},{"id":"6f75b5b.e47224c","type":"inject","z":"edb82e33.256f1","name":"OUTPUT 0 OFF","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"OUTPUT\",\"INDEX\":0,\"VALUE\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":100,"y":120,"wires":[[]]},{"id":"4ebf60c2.e8522","type":"inject","z":"edb82e33.256f1","name":"RELAY 0 ON","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"RELAY\",\"INDEX\":0,\"VALUE\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"x":350,"y":380,"wires":[["14591b1b.3ae615"]]},{"id":"a5a33e36.22ed4","type":"inject","z":"edb82e33.256f1","name":"OUTPUT 1 ON","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"OUTPUT\",\"INDEX\":1,\"VALUE\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"x":100,"y":180,"wires":[["14591b1b.3ae615"]]},{"id":"cd3ad8e7.ffb048","type":"inject","z":"edb82e33.256f1","name":"OUTPUT 1 OFF","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"OUTPUT\",\"INDEX\":1,\"VALUE\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":100,"y":220,"wires":[["14591b1b.3ae615"]]},{"id":"4ed30034.ef5ae","type":"inject","z":"edb82e33.256f1","name":"OUTPUT 2 ON","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"OUTPUT\",\"INDEX\":2,\"VALUE\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"x":100,"y":280,"wires":[["14591b1b.3ae615"]]},{"id":"c6c4d47d.2e00f8","type":"inject","z":"edb82e33.256f1","name":"OUTPUT 2 OFF","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"OUTPUT\",\"INDEX\":2,\"VALUE\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":100,"y":320,"wires":[["14591b1b.3ae615"]]},{"id":"9867ee4.0ab8a1","type":"inject","z":"edb82e33.256f1","name":"RELAY 0 OFF","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"RELAY\",\"INDEX\":0,\"VALUE\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":350,"y":420,"wires":[["14591b1b.3ae615"]]},{"id":"e767c0c6.5d534","type":"inject","z":"edb82e33.256f1","name":"RELAY 1 ON","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"RELAY\",\"INDEX\":1,\"VALUE\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"x":350,"y":480,"wires":[["14591b1b.3ae615"]]},{"id":"ddd45c00.70a33","type":"inject","z":"edb82e33.256f1","name":"RELAY 1 OFF","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"RELAY\",\"INDEX\":1,\"VALUE\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":350,"y":520,"wires":[["14591b1b.3ae615"]]},{"id":"9684df4c.f7c3b","type":"mqtt in","z":"edb82e33.256f1","name":"From MQTT","topic":"/myChannel/myProp","qos":"2","broker":"616902e0.559a7c","x":570,"y":80,"wires":[["cd887ba.5353b88"]]},{"id":"fba64ee0.ab3b2","type":"comment","z":"edb82e33.256f1","name":"Outputs","info":"","x":50,"y":20,"wires":[]},{"id":"324e715e.db873e","type":"comment","z":"edb82e33.256f1","name":"Inputs","info":"","x":550,"y":40,"wires":[]},{"id":"3c3db233.f78bae","type":"inject","z":"edb82e33.256f1","name":"OUTPUT 3 ON","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"OUTPUT\",\"INDEX\":3,\"VALUE\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"x":100,"y":380,"wires":[["14591b1b.3ae615"]]},{"id":"f9616221.0fef2","type":"inject","z":"edb82e33.256f1","name":"OUTPUT 3 OFF","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"OUTPUT\",\"INDEX\":3,\"VALUE\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":100,"y":420,"wires":[["14591b1b.3ae615"]]},{"id":"8fb22861.744988","type":"inject","z":"edb82e33.256f1","name":"OUTPUT 4 ON","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"OUTPUT\",\"INDEX\":4,\"VALUE\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"x":100,"y":480,"wires":[["14591b1b.3ae615"]]},{"id":"745d2438.3d7fac","type":"inject","z":"edb82e33.256f1","name":"OUTPUT 4 OFF","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"OUTPUT\",\"INDEX\":4,\"VALUE\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":100,"y":520,"wires":[["14591b1b.3ae615"]]},{"id":"636666fc.0a29e8","type":"inject","z":"edb82e33.256f1","name":"OUTPUT 5 ON","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"OUTPUT\",\"INDEX\":5,\"VALUE\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"x":100,"y":580,"wires":[["14591b1b.3ae615"]]},{"id":"e1a19b9e.24a238","type":"inject","z":"edb82e33.256f1","name":"OUTPUT 5 OFF","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"OUTPUT\",\"INDEX\":5,\"VALUE\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":100,"y":620,"wires":[["14591b1b.3ae615"]]},{"id":"5dbc89ba.6d5798","type":"inject","z":"edb82e33.256f1","name":"TRIGGER","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"GAMESTATE\",\"VALUE\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"x":340,"y":580,"wires":[["14591b1b.3ae615"]]},{"id":"3fb3cb7a.237cc4","type":"inject","z":"edb82e33.256f1","name":"RESET","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"GAMESTATE\",\"VALUE\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":330,"y":620,"wires":[["14591b1b.3ae615"]]},{"id":"d4a74be1.288508","type":"comment","z":"edb82e33.256f1","name":"FX60_0 Outputs","info":"","x":580,"y":360,"wires":[]},{"id":"22d7da60.023696","type":"inject","z":"edb82e33.256f1","name":"FX60_0 Output 0 ON","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"FX60_0_OUTPUT\",\"INDEX\":0,\"VALUE\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"x":600,"y":400,"wires":[["14591b1b.3ae615"]]},{"id":"58d7540b.10060c","type":"inject","z":"edb82e33.256f1","name":"FX60_0 Output 0 OFF","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"FX60_0_OUTPUT\",\"INDEX\":0,\"VALUE\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":600,"y":440,"wires":[["14591b1b.3ae615"]]},{"id":"da2f048a.18d3f8","type":"inject","z":"edb82e33.256f1","name":"FX60_0 Output 1 ON","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"FX60_0_OUTPUT\",\"INDEX\":1,\"VALUE\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"x":600,"y":500,"wires":[["14591b1b.3ae615"]]},{"id":"79a31be8.902244","type":"inject","z":"edb82e33.256f1","name":"FX60_0 Output 1 OFF","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"FX60_0_OUTPUT\",\"INDEX\":1,\"VALUE\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":600,"y":540,"wires":[["14591b1b.3ae615"]]},{"id":"788b1e2a.73b0f","type":"inject","z":"edb82e33.256f1","name":"FX60_0 Output 2 ON","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"FX60_0_OUTPUT\",\"INDEX\":2,\"VALUE\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"x":600,"y":600,"wires":[["14591b1b.3ae615"]]},{"id":"589f793f.62dae8","type":"inject","z":"edb82e33.256f1","name":"FX60_0 Output 2 OFF","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"FX60_0_OUTPUT\",\"INDEX\":2,\"VALUE\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":600,"y":640,"wires":[["14591b1b.3ae615"]]},{"id":"25880392.14dfbc","type":"inject","z":"edb82e33.256f1","name":"FX60_0 Output 3 ON","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"FX60_0_OUTPUT\",\"INDEX\":3,\"VALUE\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"x":600,"y":700,"wires":[["14591b1b.3ae615"]]},{"id":"37adf2d4.96edce","type":"inject","z":"edb82e33.256f1","name":"FX60_0 Output 3 OFF","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"FX60_0_OUTPUT\",\"INDEX\":3,\"VALUE\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":600,"y":740,"wires":[["14591b1b.3ae615"]]},{"id":"54fa0088.b11a7","type":"inject","z":"edb82e33.256f1","name":"FX60_0 Output 4 ON","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"FX60_0_OUTPUT\",\"INDEX\":4,\"VALUE\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"x":600,"y":800,"wires":[["14591b1b.3ae615"]]},{"id":"9b5a3703.758be8","type":"inject","z":"edb82e33.256f1","name":"FX60_0 Output 4 OFF","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"FX60_0_OUTPUT\",\"INDEX\":4,\"VALUE\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":600,"y":840,"wires":[["14591b1b.3ae615"]]},{"id":"767cad9d.581cf4","type":"inject","z":"edb82e33.256f1","name":"FX60_0 Output 5 ON","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"FX60_0_OUTPUT\",\"INDEX\":5,\"VALUE\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"x":600,"y":900,"wires":[["14591b1b.3ae615"]]},{"id":"53bb82ea.bda8ec","type":"inject","z":"edb82e33.256f1","name":"FX60_0 Output 5 OFF","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"FX60_0_OUTPUT\",\"INDEX\":5,\"VALUE\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":600,"y":940,"wires":[["14591b1b.3ae615"]]},{"id":"b674e19.42c0f2","type":"inject","z":"edb82e33.256f1","name":"FX60_0 Output 6 ON","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"FX60_0_OUTPUT\",\"INDEX\":6,\"VALUE\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"x":600,"y":1000,"wires":[["14591b1b.3ae615"]]},{"id":"26656edc.e45162","type":"inject","z":"edb82e33.256f1","name":"FX60_0 Output 6 OFF","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"FX60_0_OUTPUT\",\"INDEX\":6,\"VALUE\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":600,"y":1040,"wires":[["14591b1b.3ae615"]]},{"id":"fc23ddc8.8e63","type":"inject","z":"edb82e33.256f1","name":"FX60_0 Output 7 ON","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"FX60_0_OUTPUT\",\"INDEX\":7,\"VALUE\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"x":600,"y":1100,"wires":[["14591b1b.3ae615"]]},{"id":"7dc68adc.f747d4","type":"inject","z":"edb82e33.256f1","name":"FX60_0 Output 7 OFF","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"FX60_0_OUTPUT\",\"INDEX\":7,\"VALUE\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":600,"y":1140,"wires":[["14591b1b.3ae615"]]},{"id":"e2df334b.2d372","type":"inject","z":"edb82e33.256f1","name":"FX60_0 Relay 0 ON","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"FX60_0_RELAY\",\"INDEX\":0,\"VALUE\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"x":870,"y":400,"wires":[["14591b1b.3ae615"]]},{"id":"a2c75e95.47161","type":"inject","z":"edb82e33.256f1","name":"FX60_0 Relay 0 OFF","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"FX60_0_RELAY\",\"INDEX\":0,\"VALUE\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":880,"y":440,"wires":[["14591b1b.3ae615"]]},{"id":"80958682.906388","type":"inject","z":"edb82e33.256f1","name":"FX60_0 Relay 1 ON","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"FX60_0_RELAY\",\"INDEX\":1,\"VALUE\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"x":870,"y":500,"wires":[["14591b1b.3ae615"]]},{"id":"5a4cef14.72d78","type":"inject","z":"edb82e33.256f1","name":"FX60_0 Relay 1 OFF","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"FX60_0_RELAY\",\"INDEX\":1,\"VALUE\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":880,"y":540,"wires":[["14591b1b.3ae615"]]},{"id":"3f853bb9.bb3da4","type":"comment","z":"edb82e33.256f1","name":"FX60_1 Outputs","info":"","x":1140,"y":360,"wires":[]},{"id":"2bb7744f.c09f7c","type":"inject","z":"edb82e33.256f1","name":"FX60_1 Output 0 ON","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"FX60_1_OUTPUT\",\"INDEX\":0,\"VALUE\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"x":1160,"y":400,"wires":[["14591b1b.3ae615"]]},{"id":"b7a1d58f.027438","type":"inject","z":"edb82e33.256f1","name":"FX60_1 Output 0 OFF","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"FX60_1_OUTPUT\",\"INDEX\":0,\"VALUE\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":1160,"y":440,"wires":[["14591b1b.3ae615"]]},{"id":"495a1f.637355e","type":"inject","z":"edb82e33.256f1","name":"FX60_1 Output 1 ON","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"FX60_1_OUTPUT\",\"INDEX\":1,\"VALUE\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"x":1160,"y":500,"wires":[["14591b1b.3ae615"]]},{"id":"82b6239e.32ba9","type":"inject","z":"edb82e33.256f1","name":"FX60_1 Output 1 OFF","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"FX60_1_OUTPUT\",\"INDEX\":1,\"VALUE\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":1160,"y":540,"wires":[["14591b1b.3ae615"]]},{"id":"77988819.1c6b68","type":"inject","z":"edb82e33.256f1","name":"FX60_1 Output 2 ON","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"FX60_1_OUTPUT\",\"INDEX\":2,\"VALUE\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"x":1160,"y":600,"wires":[["14591b1b.3ae615"]]},{"id":"ee849f4.be55a6","type":"inject","z":"edb82e33.256f1","name":"FX60_1 Output 2 OFF","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"FX60_1_OUTPUT\",\"INDEX\":2,\"VALUE\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":1160,"y":640,"wires":[["14591b1b.3ae615"]]},{"id":"4593ea65.8a13c4","type":"inject","z":"edb82e33.256f1","name":"FX60_1 Output 3 ON","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"FX60_1_OUTPUT\",\"INDEX\":3,\"VALUE\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"x":1160,"y":700,"wires":[["14591b1b.3ae615"]]},{"id":"32eaabfc.ccf794","type":"inject","z":"edb82e33.256f1","name":"FX60_1 Output 3 OFF","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"FX60_1_OUTPUT\",\"INDEX\":3,\"VALUE\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":1160,"y":740,"wires":[["14591b1b.3ae615"]]},{"id":"101c30bc.0d578f","type":"inject","z":"edb82e33.256f1","name":"FX60_1 Output 4 ON","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"FX60_1_OUTPUT\",\"INDEX\":4,\"VALUE\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"x":1160,"y":800,"wires":[["14591b1b.3ae615"]]},{"id":"929bdf4a.a1617","type":"inject","z":"edb82e33.256f1","name":"FX60_1 Output 4 OFF","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"FX60_1_OUTPUT\",\"INDEX\":4,\"VALUE\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":1160,"y":840,"wires":[["14591b1b.3ae615"]]},{"id":"8ffeda1b.8cffa8","type":"inject","z":"edb82e33.256f1","name":"FX60_1 Output 5 ON","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"FX60_1_OUTPUT\",\"INDEX\":5,\"VALUE\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"x":1160,"y":900,"wires":[["14591b1b.3ae615"]]},{"id":"81a79f02.7b75c","type":"inject","z":"edb82e33.256f1","name":"FX60_1 Output 5 OFF","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"FX60_1_OUTPUT\",\"INDEX\":5,\"VALUE\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":1160,"y":940,"wires":[["14591b1b.3ae615"]]},{"id":"898a34cd.999218","type":"inject","z":"edb82e33.256f1","name":"FX60_1 Output 6 ON","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"FX60_1_OUTPUT\",\"INDEX\":6,\"VALUE\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"x":1160,"y":1000,"wires":[["14591b1b.3ae615"]]},{"id":"2d3b9ee.e721962","type":"inject","z":"edb82e33.256f1","name":"FX60_1 Output 6 OFF","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"FX60_1_OUTPUT\",\"INDEX\":6,\"VALUE\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":1160,"y":1040,"wires":[["14591b1b.3ae615"]]},{"id":"df50d93f.b60f68","type":"inject","z":"edb82e33.256f1","name":"FX60_1 Output 7 ON","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"FX60_1_OUTPUT\",\"INDEX\":7,\"VALUE\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"x":1160,"y":1100,"wires":[["14591b1b.3ae615"]]},{"id":"94fe67a8.308798","type":"inject","z":"edb82e33.256f1","name":"FX60_1 Output 7 OFF","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"FX60_1_OUTPUT\",\"INDEX\":7,\"VALUE\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":1160,"y":1140,"wires":[["14591b1b.3ae615"]]},{"id":"e62b9251.79786","type":"inject","z":"edb82e33.256f1","name":"FX60_1 Relay 0 OFF","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"FX60_1_RELAY\",\"INDEX\":0,\"VALUE\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":1440,"y":440,"wires":[["14591b1b.3ae615"]]},{"id":"9fa50ed0.8713c","type":"inject","z":"edb82e33.256f1","name":"FX60_1 Relay 1 ON","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"FX60_1_RELAY\",\"INDEX\":1,\"VALUE\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"x":1430,"y":500,"wires":[["14591b1b.3ae615"]]},{"id":"f2e9d594.e22868","type":"inject","z":"edb82e33.256f1","name":"FX60_1 Relay 1 OFF","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"FX60_1_RELAY\",\"INDEX\":1,\"VALUE\":0}","payloadType":"json","repeat":"","crontab":"","once":false,"x":1440,"y":540,"wires":[["14591b1b.3ae615"]]},{"id":"3a476d7.00e6392","type":"inject","z":"edb82e33.256f1","name":"FX60_1 Relay 0 ON","topic":"","payload":"{\"DIRECTION\":\"TO\",\"TYPE\":\"FX60_1_RELAY\",\"INDEX\":0,\"VALUE\":1}","payloadType":"json","repeat":"","crontab":"","once":false,"x":1430,"y":400,"wires":[["14591b1b.3ae615"]]},{"id":"c46f5630.0f9a18","type":"switch","z":"edb82e33.256f1","name":"GAMESTATE","property":"payload.SOLVED","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":1200,"y":20,"wires":[["a2d06dab.6cb17"],["cfbd9604.d6d258"]]},{"id":"c24b1e9e.43a6f","type":"switch","z":"edb82e33.256f1","name":"TYPE","property":"payload.TYPE","propertyType":"msg","rules":[{"t":"eq","v":"GAMESTATE","vt":"str"},{"t":"eq","v":"INPUT","vt":"str"}],"checkall":"true","outputs":2,"x":990,"y":20,"wires":[["c46f5630.0f9a18"],["1c5fd3c1.316fbc"]]},{"id":"a2d06dab.6cb17","type":"debug","z":"edb82e33.256f1","name":"SOLVED","active":true,"tosidebar":true,"console":false,"complete":"payload","x":1380,"y":20,"wires":[]},{"id":"cfbd9604.d6d258","type":"debug","z":"edb82e33.256f1","name":"RESET","active":true,"console":"false","complete":"payload","x":1380,"y":60,"wires":[]},{"id":"cd887ba.5353b88","type":"json","z":"edb82e33.256f1","name":"","pretty":false,"x":810,"y":20,"wires":[["c24b1e9e.43a6f"]]},{"id":"1c5fd3c1.316fbc","type":"switch","z":"edb82e33.256f1","name":"INPUT","property":"payload.INPUT","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"}],"checkall":"true","outputs":6,"x":1170,"y":220,"wires":[["e3f711a5.87099"],["bd6a21d4.03313"],["bfec0841.73cd18"],["15c14eea.bc0fb1"],["f239189.3f3bde8"],["26784a7a.cdf196"]]},{"id":"e3f711a5.87099","type":"debug","z":"edb82e33.256f1","name":"INPUT0","active":true,"tosidebar":true,"console":false,"complete":"payload.STATE","x":1380,"y":120,"wires":[]},{"id":"bd6a21d4.03313","type":"debug","z":"edb82e33.256f1","name":"INPUT1","active":true,"console":"false","complete":"payload.STATE","x":1380,"y":160,"wires":[]},{"id":"bfec0841.73cd18","type":"debug","z":"edb82e33.256f1","name":"INPUT2","active":true,"console":"false","complete":"payload.STATE","x":1380,"y":200,"wires":[]},{"id":"15c14eea.bc0fb1","type":"debug","z":"edb82e33.256f1","name":"INPUT3","active":true,"console":"false","complete":"payload.STATE","x":1380,"y":240,"wires":[]},{"id":"f239189.3f3bde8","type":"debug","z":"edb82e33.256f1","name":"INPUT4","active":true,"console":"false","complete":"payload.STATE","x":1380,"y":280,"wires":[]},{"id":"26784a7a.cdf196","type":"debug","z":"edb82e33.256f1","name":"INPUT5","active":true,"console":"false","complete":"payload.STATE","x":1380,"y":320,"wires":[]},{"id":"616902e0.559a7c","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"Node-Red","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]